# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/UI/node_modules
# dependencies
/fe-react/node_modules
/fe-react/.pnp
/fe-react/.pnp.js

# testing
/fe-react/coverage

# production
/fe-react/build

# misc
/fe-react/.DS_Store
/fe-react/.env
/fe-react/.env.local
/fe-react/.env.development.local
/fe-react/.env.test.local
/fe-react/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/fe-react/npm-debug.log*
/fe-react/yarn-debug.log*
/fe-react/yarn-error.log*

